@model Entities.Samurai

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Samurai</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nom)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nom)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Force)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Force)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Arme)
        </dt>

        <dd>
            @if (Model.Arme != null)
            {
                @Html.DisplayFor(model => model.Arme.Nom)
            }
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ArtMartials)
        </dt>

        <dd>
            @if (Model.ArtMartials != null)
            {
                foreach (var artMartial in Model.ArtMartials)
                {
                    @Html.DisplayFor(modelItem => artMartial.Nom)
                    <br />
                }
            }
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Potentiel)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Potentiel)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
